.THIS .slds-input__icon-group {
    margin-top: -2.5rem !important;
}

.THIS .all-elem-class{
   margin-bottom: -1rem;
}

.THIS .buttons-arrow-class{
   padding-top: 7rem;
}

.THIS .right-list-class{
    height: 17rem;
}